@media print {
    body {
        /* Doesn't work yet. */
        -webkit-print-color-adjust: exact;
    }

    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0) 
    }
}    

@media screen {
    section {
        margin-left: 10mm;
    }

    /*section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) 
    }*/
}

@page {
  size: letter landscape;
  /*
  margin-left: 3cm;
  margin-right: 3cm;
  */
}

body {
    margin-top: 20mm;
}

section {
    width: 235mm;
}

.rect {
    width: 310mm;
    height: 2mm;
}

.gray {
    background-color: gray;
}

.right-logo {
    height: 20mm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-logo {
    height: 20mm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Programmatic blue rect */
/*background-image: linear-gradient(-90deg, #3A98C3 0%, #A0D3F2 100%);*/
